<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>도서 등록</h3>
	<table>
	<tbody>
		 <tr>
			 <th>도서번호</th>
			 <input type="text" value="${book.bookNo}"></td>
			 <th>도서명</th>
			  <input type="text" value="${book.bookName}"></td>
			 <th>도서표지</th>
			 <input type="text" value="${book.bookCoverimg}"></td>
			 <th>출판일자</th>
			  <input type="date" value="${book.bookDate}"></td>
			 <th>금액</th>
			  <input type="number" value="${book.bookPrice}"></td>
			 <th>출판사</th>
			  <input type="text" value="${book.bookPublisher}"></td>
			 <th>도서 소개</th>
			  <input type="text" value="${book.bookInfo}"></td>
		 </tr>
 </tbody>
 </table>
</body>

</html>