<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.emp.mapper.RentMapper">

<!-- 대여현황조회  -->
<select id="getRent" parameterType="RentVO" resultType="RentVO">     
	SELECT  RENT_NO,
			BOOK_NO,
			RENT_PRICE,
			RENT_DATE,
			RENT_STATUS
	FROM RENT_TBL_06
	WHERE BOOK_NO = #{bookNo}
</select>


</mapper>
